
<tr id="row-0 input-group">
  <th scope="row" id="product-num"></th>

  <div class="field">
  </div>
 
  <!-- <td><%#<%= ff.select :product_id, options_from_collection_for_select(Product.all, :id, :name), include_blank: 'Select a product' %></td> -->

 <td><%= text_field :charge_type, size: '1em', class: 'form-control text-center'  %></t

  <div class="field">
  </div>
  <td><%= text_field :item_no, size: '1em', class: 'form-control text-center'  %></td>

  <div class="field">
  </div>
  <td><%= text_field :description, size: '30em', class: 'form-control text-center' %></td>
  <div class="field">
  </div>

 <td><%= text_field :quantity, size: '1em', class: 'form-control text-center' %></td>
  <div class="field">
  </div>

 <td><%= text_field :unit_of_measure, size: '5em', class: 'form-control text-center' %></td>
  <div class="field">
  </div>


 <td><%= text_field :unit_price, size: '5em', class: 'form-control text-center' %></td>
  <div class="field">
  </div>

 <td><%= text_field :amount, size: '5em', class: 'form-control text-center' %></td>
  <div class="field">
  </div>

 <td><%= link_to "Delete", "", class: 'btn btn-danger float-right remove-field' %></td>
 
</tr>





 

  

  



