
  <div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Bank Form</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="<%= url_for :controller => 'dashboards', :action => 'dashboard_1' %>">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a>Forms</a>
            </li>
            <li class="breadcrumb-item active">
                <strong>Basic Form</strong>
            </li>
        </ol>
    </div>
</div>

<%= form_with(model: customer, local: true) do |form| %>
  <% if customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
        <% customer.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">




  <div class="field">
    <%= form.label :customer_name %>
    <%= form.text_area :customer_name, {class: 'form-control'} %>
  </div>

  <div class="field">
    <%= form.label :contactno %>
    <%= form.text_area :contactno, {class: 'form-control'} %>
  </div>

  <div class="field">
    <%= form.label :contact_name %>
    <%= form.text_area :contact_name, {class: 'form-control'} %>
  </div>

  <div class="field">
    <%= form.label :Address %>
    <%= form.text_area :address, {class: 'form-control'} %>
  </div>

  <div class="field">
    <%= form.label :City %>
    <%= form.text_area :city, {class: 'form-control'} %>
  </div>

  <div class="field">
    <%= form.label :Date %>
    <%= form.date_select :date, {class: 'form-control'} %>
  </div>

  <div class="field">
    <%= form.label :sales_person_code %>
    <%= form.text_area :sales_person_code, {class: 'form-control'} %>
  </div>

  <div class="field">
    <%= form.label :sales_person_name %>
    <%= form.text_area :sales_person_name, {class: 'form-control'} %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>

 </div>
 </div>
        </a>
                </div>
            </div>
            

<% content_for :javascript do %>

<script type="text/javascript">


$(function() {

    $('.i-checks').iCheck({
        checkboxClass: 'icheckbox_square-green',
        radioClass: 'iradio_square-green',
    });

});

</script>

<% end %>

<% end %>





      





