<%= form_with(model: receipt_line, local: true) do |form| %>
  <% if receipt_line.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(receipt_line.errors.count, "error") %> prohibited this receipt_line from being saved:</h2>

      <ul>
        <% receipt_line.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :receipt_date %>
    <%= form.date_select :receipt_date %>
  </div>

  <div class="field">
    <%= form.label :receipt_account %>
    <%= form.text_area :receipt_account %>
  </div>

  <div class="field">
    <%= form.label :account_type %>
    <%= form.text_area :account_type %>
  </div>

  <div class="field">
    <%= form.label :account_no %>
    <%= form.text_area :account_no %>
  </div>

  <div class="field">
    <%= form.label :account_name %>
    <%= form.text_area :account_name %>
  </div>

  <div class="field">
    <%= form.label :amount %>
    <%= form.text_field :amount %>
  </div>

  <div class="field">
    <%= form.label :invoiceno %>
    <%= form.text_area :invoiceno %>
  </div>

  <div class="field">
    <%= form.label :receipt_id %>
    <%= form.text_field :receipt_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
