





<%= form_with(model: payment, local: true) do |form| %>
  <% if payment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(payment.errors.count, "error") %> prohibited this payment from being saved:</h2>

      <ul>
        <% payment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">


  <div class="field">
    <%= form.label :payment_date %>
    <%= form.date_select :payment_date %>
  </div>

  <div class="field">
    <%= form.label :paying_account_code %>
    <%= form.text_area :paying_account_code %>
  </div>

  <div class="field">
    <%= form.label :paying_acc_description %>
    <%= form.text_area :paying_acc_description %>
  </div>

  <div class="field">
    <%= form.label :prepared_by %>
    <%= form.text_area :prepared_by %>
  </div>

  <div class="field">
    <%= form.label :mode_of_payment %>
    <%= form.text_area :mode_of_payment %>
  </div>

  <div class="field">
    <%= form.label :payment_description %>
    <%= form.text_area :payment_description %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_area :status %>
  </div>

  <div class="field">
    <%= form.label :documentno %>
    <%= form.text_area :documentno %>
  </div>

  <div class="field">
    <%= form.label :release_date %>
    <%= form.date_select :release_date %>
  </div>

  <div class="field">
    <%= form.label :posted %>
    <%= form.text_area :posted %>
  </div>

  <div class="field">
    <%= form.label :amount %>
    <%= form.text_field :amount %>
  </div>

  <div class="field">
    <%= form.label :payee_code %>
    <%= form.text_area :payee_code %>
  </div>

  <div class="field">
    <%= form.label :payee_name %>
    <%= form.text_area :payee_name %>
  </div>

  <div class="field">
    <%= form.label :account_type %>
    <%= form.text_area :account_type %>
  </div>

  <div class="field">
    <%= form.label :category_type %>
    <%= form.text_area :category_type %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>



<% end %>
