
<tr id="row-0 input-group">
  <th scope="row" id="product-num"></th>

  <div class="field">
  </div>
 
  <!-- <td><%#<%= ff.select :product_id, options_from_collection_for_select(Product.all, :id, :name), include_blank: 'Select a product' %></td> -->
 <td><%= ff.text_field :name, size: '1em', class: 'form-control text-center'  %></t

  <div class="field">
  </div>
  <td><%= ff.text_field :quantity, size: '1em', class: 'form-control text-center'  %></td>

  <div class="field">
  </div>
  <td><%= ff.text_field :amount, size: '2em', class: 'form-control text-center' %></td>

  <div class="field">
  </div>
  <td><%= link_to "Delete", "", class: 'btn btn-danger float-right remove-field' %></td>
</tr>
